.blogItem-wrap {
  display: flex;
  flex-direction: column;
}

.blogItem-cover {
  width: 325px;
  height: 325px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  transition: 0.2s;
  background-color: azure;
}

.blogItem-cover:hover {
  transform: scale(1.02, 1.02);
}

.blogItem-wrap h3 {
  margin: 0.5rem 0 0.2rem 0;
  flex: 1;
}

.blogItem-desc {
  position: relative;
  max-height: 30px;
  overflow: hidden;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #a9a9a9;
}

.blogItem-desc::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 0;
}

.blogItem-wrap footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.blogItem-link {
  text-decoration: none;
  color: inherit;
}

.blogItem-link-btn {
  text-decoration: none;
  color: inherit;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #0080ff, #a7bfe8);
}

.blogItem-author {
  display: flex;
  align-items: center;
}

.blogItem-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.blogItem-author p {
  font-size: 0.6rem;
  color: #a9a9a9;
  font-weight: 600;
}