.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.button {
    border: 0px solid var(--text_color);
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin: auto 0;
    padding: 10px;
    font-size: 1.5rem;
}