.blogList-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 768px) {
  .blogList-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

