.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.headerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    color: #0080ff;
    font-size: 1.5rem;
    margin-top: 2rem;

}

.input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    outline: none;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    background-color: #f0f0f0;

}



.button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    font-size: 1rem;
}

.back_button {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #ce1b1b, #e4e6eb);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 100px;
}

.selectCategory {
    width: 100%;
    border: none;
    padding: 0.5rem;
    outline: none;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    color: gray;
    background-color: #f0f0f0;
}