.home-header {
    text-align: center;
    /* position: fixed; */
    /* align-items: center;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem; */
    /* background-color: #2C3E50; */
    /* z-index: 0; */
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
}

.home-header h2 {
    color: #0080ff;
    font-size: 3.5rem;
    margin-top: 0.5rem;
}


.home-header h1 {
    color: var(--body_color);
    font-size: 3.5rem;
    margin-top: 0.5rem;
}

.home-header p {
    color: #a9a9a9;
    font-weight: 500;
}

svg {
    width: 1.5rem;
    outline: none;
}

.home-header button:active {
    color: transparent;
}

.home-header button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: 1.5rem;
}