.home-header {
  text-align: center;
}

.home-header h2 {
  color: #0080ff;
  font-size: 3.5rem;
  margin-top: 0.5rem;
}

.home-header h1 {
  color: var(--body_color);
  font-size: 3.5rem;
  margin-top: 0.5rem;
}

.home-header p {
  color: #a9a9a9;
  font-weight: 500;
}

svg {
  width: 1.5rem;
  outline: none;
}

.home-header button:active {
  color: transparent;
}

.home-header button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 1.5rem;
}

.primary-button {
  text-decoration: none;
  cursor: pointer;
  color: white;
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  padding: .2rem .5rem;
  border-radius: 5px;
}

.home-header-newpost {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}