.emptyList-wrap {
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #edeaea, rgb(231, 81, 81));
    padding: 5px;
    border-radius: 5px;
}

.emptyList-wrap p {
    font-size: 1.5rem;
    color: inherit;


}