.emptyList-wrap {
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
}

.emptyList-wrap p {
    font-size: 3rem;
    color: inherit;
    font-weight: 900;
}