.comment_section {
    display: flex;
    justify-content: space-between;
    border: solid 1px #90b7f1;
    margin: 25px 0;
    width: 800px;
    padding: 10px 0;
    border-radius: 5px;
    max-width: 1200px;

}

.comment_section_list {
    width: inherit;
    padding: 0 12px;
    margin: 5px;
    list-style: none;

}

.comment_section .username {
    font-size: 14px;
    font-weight: bold;
    padding: 0 1.5rem 0 0;
    margin-top: 5px;
}

.comment_section .content {
    font-size: 14px;
    margin: 5px 0 0 0;
}

.comment_section .date {
    font-size: 12px;
}


.buttons_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
    flex-wrap: wrap;
}

.comment_section .btn_edit {
    padding: 4px;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comment_section .btn_delete {
    padding: 4px;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comment_wrapper {
    background: linear-gradient(to left, #d7dadd, #a7bfe8);
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
}