.form {
    max-width: 400px;
    margin: 0 auto;

}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    outline: none;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    background-color: #f0f0f0;

}

.btn_primary {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #0080ff, #a7bfe8);
    font-size: 1rem;
    width: 100%;
}

.image_logo {
    width: 100%;
    height: 150px;
    border-radius: 50%;
}