.form {
    max-width: 400px;
    margin: 0 auto;
    background: linear-gradient(to left, #3498DB, #21618C);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    color: var(--text_color);
}

.input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    outline: none;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    background-color: #f0f0f0;

}

.btn_primary {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #0080ff, #a7bfe8);
    font-size: 1rem;
    width: 100%;
}

.image_logo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.title_image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link {
    text-decoration: none;
    color: #eee;
    text-align: center;
    font-size: 14px;
}