@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --body_backround: white;
  --body_color: black;
  --link_color: navy;
  --text_color: #1C2833;
  --navbar_background: #D6DBDF;
}

[data-theme="dark"] {
  --body_backround: #282c34;
  --body_color: white;
  --link_color: cyan;
  --text_color: #F7F9F9;
  --navbar_background: #7D3C98;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body_backround);
  color: var(--body_color);

}

button,
input {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}